{{! Copyright (c) Mark Voortman - mark@voortman.name. All rights reserved. Licensed under the MIT license. See LICENSE.txt in the project root for license information.}}
{{! Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE.txt in the project root for license information.}}
<div class="jumbotron">
  <h1>Portfolio Builder</h1>
  {{#if user}}
    <p>Please click on Portfolio in the menu above to get started.<br>For feedback, questions, or bugs please email <a href="mailto:ksteele@pointpark.edu">Kristin Steele</a>.</p>
    <p>
    <b>
    Portfolios for Spring 2023 graduates are due Friday, April 28, 2023.<br>
    Portfolios for Summer 2023 graduates are due Friday, August 25, 2023.<br>
    Portfolios for Fall 2023 graduates are due Friday, December 15, 2023.<br>
    </b>
    </p>
  {{else}}
    <a class="btn btn-primary btn-large" href="{{signInUrl}}">Click here to login</a>
  {{/if}}
</div>
