{{! Copyright (c) Mark Voortman - mark@voortman.name. All rights reserved. Licensed under the MIT license. See LICENSE.txt in the project root for license information.}}
<h2 id="header">Portfolio</h2>
<div id="menu"></div>
<hr id="hr1">
<div id="content"></div>
<hr id="hr2">

<script>
 window.onload = function() {
   $.ajax({
     type: "GET",
     url: "/load_submissions"
   }).done(function(data) {
     if (data.error) {
       alert(data.error);
     }
     else {
       $("#content").empty();
       for (var i = 0; i < data.submissions.length; i++) {
         (function(i) {
           if (i) {
             $("#content").append("<hr>");
           }
           var a = $("<a>");
           $("#content").append(a);
           a.addClass("btn btn-primary btn-sm");
           var email = data.submissions[i].email;
           a.attr("href", "portfolio?email=" + email);
           var firstname = data.submissions[i].firstname;
           var lastname = data.submissions[i].lastname;
           var status = "not submitted";
           var lastsubmission = data.submissions[i].lastsubmission;
           if (lastsubmission) {
             status = "last submitted on " + new Date(lastsubmission).toLocaleDateString();
           }
           var name = (firstname?firstname+" ":"") + (lastname?lastname+" ":"");
           a.append((name?name+" - ":"") + email + " (" + status + ")");
           $("#content").append("<br>");
         })(i);
       }
     }
   }).fail(fail);
 }
</script>
