{{! Copyright (c) Mark Voortman - mark@voortman.name. All rights reserved. Licensed under the MIT license. See LICENSE.txt in the project root for license information.}}
<h2>Template</h2>
<!--<a id="savebtn" class="btn btn-primary btn-sm disabled" href="javascript:">Save</a>-->
<hr>
<div id="content">
</div>
<hr>

<script>
 function save(alldata, cb) {
   $.ajax({
     type: "POST",
     url: "/save_template",
     data: {
       data: JSON.stringify(alldata)
     }
   }).done(function(data) {
     if (data.error) {
       console.log(JSON.stringify(data.error));
       alert(JSON.stringify(data.error));
     }
     else {
       if (cb) {
         cb();
       }
       else {
         show(alldata);
       }
     }
   }).fail(fail);
 }
 
 function show(data) {
   $("#content").empty();
   if (!data.objectives) {
     data.objectives = [];
   }
   if (!data.objectives.length) {
     $("#content").append("No objectives found.");
   }
   else {
     for (var i = 0; i < data.objectives.length; i++) {
       (function(i) {
         $("#content").append((i+1) + ". " + data.objectives[i].text + "<br>");
         var a = $("<a>");
         $("#content").append(a);
         a.attr("href", "javascript:");
         a.addClass("btn btn-primary btn-sm");
         a.append("Delete");
         a.click(function() {
           if (confirm("Are you sure you want to delete this objective?")) {
             data.objectives.splice(i, 1);
             save(data);
           }
         });
         $("#content").append("<br><br>");
       })(i);
     }
   }
   $("#content").append("<hr>");
   $("#content").append("New Objective:");
   var textarea = $("<textarea>");
   $("#content").append(textarea);
   textarea.addClass("form-control");
   textarea.css("width", "100%");
   textarea.keyup(function() {
     if (textarea.val()) {
       a.removeClass("disabled");
     }
     else {
       a.addClass("disabled");
     }
   });
   //<textarea id="template" class="form-control" style="width: 100%; height: 60vh;" disabled></textarea>
   var a = $("<a>");
   $("#content").append(a);
   a.attr("href", "javascript:");
   a.addClass("btn btn-primary btn-sm disabled");
   a.append("Save");
   a.click(function() {
     data.objectives.push({
       id: Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15),
       text: textarea.val()
     });
     save(data);
   });
 }
 
 window.onload = function() {
   $.ajax({
     type: "GET",
     url: "/load_template"
   }).done(function(data) {
     if (data.error) {
       console.log(JSON.stringify(data.error));
       alert(JSON.stringify(data.error));
     }
     else {
       show(data);
     }
   }).fail(fail);
   /*
   var origtemplate = null;
   
   $.ajax({
     type: "GET",
     url: "/load_template"
   }).done(function(data) {
     if (data.error) {
       console.log(JSON.stringify(data.error));
       alert(JSON.stringify(data.error));
     }
     else {
       origtemplate = data.template || "";
       $("#template").val(origtemplate);
       $("#template").prop("disabled", false);
     }
   }).fail(fail);
   
   $("#savebtn").click(function() {
     $("#savebtn").addClass("disabled");
     $("#template").prop("disabled", true);
     $.ajax({
       type: "POST",
       url: "/save_template",
       data: {
         data: JSON.stringify({
           template: $("#template").val()
         })
       }
     }).done(function(data) {
       if (data.error) {
         console.log(JSON.stringify(data.error));
         alert(JSON.stringify(data.error));
       }
       else {
         origtemplate = $("#template").val();
         setTimeout(function() {
           $("#template").prop("disabled", false);
         }, 1000);
       }
     }).fail(fail);
   });
   
   $("#template").keyup(function() {
     if (origtemplate !== $("#template").val()) {
       $("#savebtn").removeClass("disabled");
     }
     else {
       $("#savebtn").addClass("disabled");
     }
   });
   */
 };
</script>
